/* * {
  border: 1px solid gold;
} */
.header {
  /* background-color: lightblue; */
  margin-bottom: 10px;
}
h1 {
  text-align: center;
  background-color: lightblue;
  width: 50%;
  margin: auto;
}

form {
  padding: 15px 15px;
  text-align: center;
}
input {
  font-size: 18px;
}
.reset {
  font-size: 18px;
}
.container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}
.song {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 1em;
}
